---
layout: null
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>Collector</title>
        <!-- 引入 WeUI -->
        {% include head %}
    </head>
<body>
    {% include dialogdetail.html %}
    <div class="weui-cells">
        
<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/%E8%BF%9B%E5%87%BB%E6%88%98%E8%88%B0??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-title="假期余额已用完，你需要用它来发泄一下心中郁闷！" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-13 12:00:00" data-guid="http://zuimeia.com/app/title/%E8%BF%9B%E5%87%BB%E6%88%98%E8%88%B0??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-category="">
2019-03-13 假期余额已用完，你需要用它来发泄一下心中郁闷！
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/Perfect%20moon??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-title="玩好这款游戏，为以后的「流浪地球」做做准备吧" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-13 12:00:00" data-guid="http://zuimeia.com/app/title/Perfect%20moon??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-category="">
2019-03-13 玩好这款游戏，为以后的「流浪地球」做做准备吧
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238914" data-title="说句话就能自动变身，这才是所有孩子都想要的「变形金刚」| 极客酷玩" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-13 10:35:17" data-guid="http://www.geekpark.net/news/238914" data-category="">
2019-03-13 说句话就能自动变身，这才是所有孩子都想要的「变形金刚」| 极客酷玩
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238982" data-title="腾讯回应「企鹅号」盗号事件；马斯克：Autopilot 将恢复原价，此前降价是个错误；腾讯应用宝下架多闪" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-13 08:45:57" data-guid="http://www.geekpark.net/news/238982" data-category="">
2019-03-13 腾讯回应「企鹅号」盗号事件；马斯克：Autopilot 将恢复原价，此前降价是个错误；腾讯应用宝下架多闪
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238980" data-title="Nokia 9 PureView 体验：五颗摄像头拍照有多好？" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-12 22:53:01" data-guid="http://www.geekpark.net/news/238980" data-category="">
2019-03-12 Nokia 9 PureView 体验：五颗摄像头拍照有多好？
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238843" data-title="高层调整，苹果转型的第一步" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-12 22:02:49" data-guid="http://www.geekpark.net/news/238843" data-category="">
2019-03-12 高层调整，苹果转型的第一步
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238962" data-title="这家放弃追赶风口的 AI 公司，是如何思考「边缘计算」的？" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-12 21:22:34" data-guid="http://www.geekpark.net/news/238962" data-category="">
2019-03-12 这家放弃追赶风口的 AI 公司，是如何思考「边缘计算」的？
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238918" data-title="Airbnb 走酒店的路，让酒店无路可走" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-12 18:35:46" data-guid="http://www.geekpark.net/news/238918" data-category="">
2019-03-12 Airbnb 走酒店的路，让酒店无路可走
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238977" data-title="​不喜欢密码和签名，指纹识别的银行卡你要试试吗？ | 极客酷玩" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-12 17:49:20" data-guid="http://www.geekpark.net/news/238977" data-category="">
2019-03-12 ​不喜欢密码和签名，指纹识别的银行卡你要试试吗？ | 极客酷玩
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238976" data-title="布加迪推出了一款「只要」3 万欧元的新车，成人和儿童都可以驾驶丨极客酷玩" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-12 17:06:44" data-guid="http://www.geekpark.net/news/238976" data-category="">
2019-03-12 布加迪推出了一款「只要」3 万欧元的新车，成人和儿童都可以驾驶丨极客酷玩
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238973" data-title="小米新推出的 4 英寸小彩电？小爱触屏音箱开箱" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-12 15:09:59" data-guid="http://www.geekpark.net/news/238973" data-category="">
2019-03-12 小米新推出的 4 英寸小彩电？小爱触屏音箱开箱
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238895" data-title="「大 V 出走」背后：「少数派」知乎的面子与里子" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-12 13:31:08" data-guid="http://www.geekpark.net/news/238895" data-category="">
2019-03-12 「大 V 出走」背后：「少数派」知乎的面子与里子
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/%E5%B8%AE%E4%BD%A0%E5%86%B3%E5%AE%9A??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-title="这款 APP 或许真的能治好你的选择困难症！" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-12 12:00:00" data-guid="http://zuimeia.com/app/title/%E5%B8%AE%E4%BD%A0%E5%86%B3%E5%AE%9A??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-category="">
2019-03-12 这款 APP 或许真的能治好你的选择困难症！
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/%E4%BA%91%E9%9B%A8%E6%97%A5%E8%AE%B0??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-title="颜值高、功能全，这个 App 能像好友一样倾听你的喜怒哀乐" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-12 12:00:00" data-guid="http://zuimeia.com/app/title/%E4%BA%91%E9%9B%A8%E6%97%A5%E8%AE%B0??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-category="">
2019-03-12 颜值高、功能全，这个 App 能像好友一样倾听你的喜怒哀乐
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://mobile.51cto.com/hot-593189.htm" data-title="3D人脸识别遭安卓厂商集体抛弃，屏下指纹接班？" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-12 10:56:07" data-guid="http://mobile.51cto.com/hot-593189.htm" data-category="热点推荐">
2019-03-12 3D人脸识别遭安卓厂商集体抛弃，屏下指纹接班？
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238917" data-title="《鬼泣 5》体验：阔别十年的动作游戏王者，依然硬核、依然热血沸腾" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-12 08:44:53" data-guid="http://www.geekpark.net/news/238917" data-category="">
2019-03-12 《鬼泣 5》体验：阔别十年的动作游戏王者，依然硬核、依然热血沸腾
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238919" data-title="携程回应「大数据杀熟」并致歉；特斯拉全球价格将涨 3%；蚂蚁金服回应「正筹备科创板」：无上市时间表" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-12 08:26:38" data-guid="http://www.geekpark.net/news/238919" data-category="">
2019-03-12 携程回应「大数据杀熟」并致歉；特斯拉全球价格将涨 3%；蚂蚁金服回应「正筹备科创板」：无上市时间表
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238908" data-title="转型学微信，Facebook 最大的对手会是苹果" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-12 01:14:20" data-guid="http://www.geekpark.net/news/238908" data-category="">
2019-03-12 转型学微信，Facebook 最大的对手会是苹果
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238846" data-title="主动降噪+QCC5100 芯片，Libratone 小鸟音响的这款真无线耳机能否挑战 AirPods？" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-11 23:48:40" data-guid="http://www.geekpark.net/news/238846" data-category="">
2019-03-11 主动降噪+QCC5100 芯片，Libratone 小鸟音响的这款真无线耳机能否挑战 AirPods？
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238915" data-title="小米 9 SE 体验：1999 元的全能「小钢炮」" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-11 23:08:58" data-guid="http://www.geekpark.net/news/238915" data-category="">
2019-03-11 小米 9 SE 体验：1999 元的全能「小钢炮」
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238837" data-title="在 Google 的这个项目中，保存着被焚毁的历史和遥不可及的星云" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-11 18:54:09" data-guid="http://www.geekpark.net/news/238837" data-category="">
2019-03-11 在 Google 的这个项目中，保存着被焚毁的历史和遥不可及的星云
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238905" data-title="Anker 出了一款黑科技充电器，可以喂饱你的所有移动设备" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-11 16:17:27" data-guid="http://www.geekpark.net/news/238905" data-category="">
2019-03-11 Anker 出了一款黑科技充电器，可以喂饱你的所有移动设备
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/%E8%A1%A8%E6%83%85%E9%94%85??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-title="这款 APP 能让你在表情包大战中立于不败之地！" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-11 12:00:00" data-guid="http://zuimeia.com/app/title/%E8%A1%A8%E6%83%85%E9%94%85??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-category="">
2019-03-11 这款 APP 能让你在表情包大战中立于不败之地！
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/%E8%A1%A8%E6%83%85%E9%94%85%20??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-title="这款 APP 能让你在表情包大战中立于不败之地！" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-11 12:00:00" data-guid="http://zuimeia.com/app/title/%E8%A1%A8%E6%83%85%E9%94%85%20??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-category="">
2019-03-11 这款 APP 能让你在表情包大战中立于不败之地！
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238856" data-title="阿里巴巴 46.6 亿元入股申通快递；华住集团为旗下桔子水晶酒店就低俗营销推送道歉；华为起诉最新进展：美国法院已给美国政府发传票" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-11 08:31:22" data-guid="http://www.geekpark.net/news/238856" data-category="">
2019-03-11 阿里巴巴 46.6 亿元入股申通快递；华住集团为旗下桔子水晶酒店就低俗营销推送道歉；华为起诉最新进展：美国法院已给美国政府发传票
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238855" data-title="《惊奇队长》：终局之战的 50 天倒计时" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-10 23:12:40" data-guid="http://www.geekpark.net/news/238855" data-category="">
2019-03-10 《惊奇队长》：终局之战的 50 天倒计时
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238853" data-title="折叠屏和 5G 很酷，但 2019 年我们很可能用不上它们" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-10 20:23:17" data-guid="http://www.geekpark.net/news/238853" data-category="">
2019-03-10 折叠屏和 5G 很酷，但 2019 年我们很可能用不上它们
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238728" data-title="它曾是诺基亚「翻身」的希望，却也是塞班最后的挣扎丨极客博物馆" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-10 12:15:46" data-guid="http://www.geekpark.net/news/238728" data-category="">
2019-03-10 它曾是诺基亚「翻身」的希望，却也是塞班最后的挣扎丨极客博物馆
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/%E5%8D%95%E8%BA%AB%E5%91%A8%E6%9C%AB%E5%B0%8F%E7%A8%8B%E5%BA%8F??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-title="单身周末，有了这几款小程序，也没有那么糟吧" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-10 12:00:00" data-guid="http://zuimeia.com/app/title/%E5%8D%95%E8%BA%AB%E5%91%A8%E6%9C%AB%E5%B0%8F%E7%A8%8B%E5%BA%8F??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-category="">
2019-03-10 单身周末，有了这几款小程序，也没有那么糟吧
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238784" data-title="日内瓦车展 2019：电动汽车集体爆发出的出行新「内涵」" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-10 11:03:07" data-guid="http://www.geekpark.net/news/238784" data-category="">
2019-03-10 日内瓦车展 2019：电动汽车集体爆发出的出行新「内涵」
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238839" data-title="AI 在教育里的想像与边界" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-10 11:02:57" data-guid="http://www.geekpark.net/news/238839" data-category="">
2019-03-10 AI 在教育里的想像与边界
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238841" data-title="拿下中国「炒饭界」第一笔融资，这家餐厅如何把炒饭做成爆品" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-09 19:22:13" data-guid="http://www.geekpark.net/news/238841" data-category="">
2019-03-09 拿下中国「炒饭界」第一笔融资，这家餐厅如何把炒饭做成爆品
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/iPad%20%E5%AD%A6%E4%B9%A0%E4%B8%93%E9%A2%98??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-title="你的 iPad 只能拿来刷剧？还是快来这里学习一下吧" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-09 12:00:00" data-guid="http://zuimeia.com/app/title/iPad%20%E5%AD%A6%E4%B9%A0%E4%B8%93%E9%A2%98??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-category="">
2019-03-09 你的 iPad 只能拿来刷剧？还是快来这里学习一下吧
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238852" data-title="A 站抢注「哔哩哔哩」商标，B 站上诉被驳回；红杉回应投资熊猫直播；锤子科技子公司畅呼吸卖身优点科技" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-09 09:31:46" data-guid="http://www.geekpark.net/news/238852" data-category="">
2019-03-09 A 站抢注「哔哩哔哩」商标，B 站上诉被驳回；红杉回应投资熊猫直播；锤子科技子公司畅呼吸卖身优点科技
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238847" data-title="iQOO 手机的备货如何？我们在 vivo 工厂找到了答案" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-09 00:40:58" data-guid="http://www.geekpark.net/news/238847" data-category="">
2019-03-09 iQOO 手机的备货如何？我们在 vivo 工厂找到了答案
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238836" data-title="将「鼠标」和触控板集成到键盘上，海盗船的脑洞真大丨极客酷玩" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-08 17:36:34" data-guid="http://www.geekpark.net/news/238836" data-category="">
2019-03-08 将「鼠标」和触控板集成到键盘上，海盗船的脑洞真大丨极客酷玩
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238827" data-title="像蝴蝶一样扇动翅膀飞行，这个玩具比无人机更有趣 | 极客酷玩" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-08 17:10:18" data-guid="http://www.geekpark.net/news/238827" data-category="">
2019-03-08 像蝴蝶一样扇动翅膀飞行，这个玩具比无人机更有趣 | 极客酷玩
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238838" data-title="极客之选招募「内容合伙人」：免费体验新产品，还能让你的观点被更多人看到" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-08 17:03:27" data-guid="http://www.geekpark.net/news/238838" data-category="">
2019-03-08 极客之选招募「内容合伙人」：免费体验新产品，还能让你的观点被更多人看到
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/Peace??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-title="被工作学习逼疯的人，都在这里找 Peace" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-08 12:00:00" data-guid="http://zuimeia.com/app/title/Peace??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-category="">
2019-03-08 被工作学习逼疯的人，都在这里找 Peace
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/%E5%BF%AB%E6%90%9C%E7%B4%A2??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-title="集所有浏览器资源于一体，这个 App 让你更快、更全地搜集你想要的内容" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-08 12:00:00" data-guid="http://zuimeia.com/app/title/%E5%BF%AB%E6%90%9C%E7%B4%A2??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-category="">
2019-03-08 集所有浏览器资源于一体，这个 App 让你更快、更全地搜集你想要的内容
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/238684" data-title="用机器人建房子，这家公司说只是时间问题" data-description="<map object at 0x10a132d30>" data-pubDate="2019-03-08 10:43:55" data-guid="http://www.geekpark.net/news/238684" data-category="">
2019-03-08 用机器人建房子，这家公司说只是时间问题
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/%E4%BE%BF%E7%AD%BE%E6%94%BB%E7%95%A5??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-title="这里有一份个性便签攻略，喜欢记事情的朋友千万不能错过！" data-description="<map object at 0x10a132e48>" data-pubDate="2019-03-07 12:00:00" data-guid="http://zuimeia.com/app/title/%E4%BE%BF%E7%AD%BE%E6%94%BB%E7%95%A5??utm_source=rss&utm_campaign=rss&utm_medium=flipboard" data-category="">
2019-03-07 这里有一份个性便签攻略，喜欢记事情的朋友千万不能错过！
</a>

    </div>
</body>
</html>

