---
layout: null
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>Collector</title>
        <!-- 引入 WeUI -->
        {% include head %}
    </head>
<body>
    {% include dialogdetail.html %}
    <div class="weui-cells">
        
<a class="weui-cell weui-cell_access" target="_blank" href="http://36kr.com/p/5175789.html?ktm_source=feed" data-title="前Uber CEO卡兰尼克押注共享“云厨房”，试图重回中国市场" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 17:16:54" data-guid="http://36kr.com/p/5175789.html?ktm_source=feed" data-category="内容">
2019-02-03 前Uber CEO卡兰尼克押注共享“云厨房”，试图重回中国市场
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://36kr.com/p/5175767.html?ktm_source=feed" data-title="万万没想到，2018年最让人印象深刻的AI应用可能是张学友演唱会……| 潮科技有奖问答评论精选 ⑤" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 16:02:50" data-guid="http://36kr.com/p/5175767.html?ktm_source=feed" data-category="前沿技术">
2019-02-03 万万没想到，2018年最让人印象深刻的AI应用可能是张学友演唱会……| 潮科技有奖问答评论精选 ⑤
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://36kr.com/p/5175779.html?ktm_source=feed" data-title="5G时代手机可能会变成这样…… | 潮科技有奖问答评论精选 ⑥" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 15:14:37" data-guid="http://36kr.com/p/5175779.html?ktm_source=feed" data-category="手机与硬件">
2019-02-03 5G时代手机可能会变成这样…… | 潮科技有奖问答评论精选 ⑥
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104189/kiftd-1-0-14-released" data-title="青阳网络文件传输系统 kiftd —— 1.0.14 正式发布" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 14:59:55" data-guid="https://www.oschina.net/news/104189/kiftd-1-0-14-released" data-category="软件更新新闻">
2019-02-03 青阳网络文件传输系统 kiftd —— 1.0.14 正式发布
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://36kr.com/p/5175760.html?ktm_source=feed" data-title="“潮科技有奖问答”第六期获奖读者名单——一加科技专场" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 14:26:08" data-guid="http://36kr.com/p/5175760.html?ktm_source=feed" data-category="前沿技术">
2019-02-03 “潮科技有奖问答”第六期获奖读者名单——一加科技专场
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://36kr.com/p/5175731.html?ktm_source=feed" data-title="初心资本于真真：消费升级的真相与表象" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 13:37:16" data-guid="http://36kr.com/p/5175731.html?ktm_source=feed" data-category="内容">
2019-02-03 初心资本于真真：消费升级的真相与表象
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://36kr.com/p/5175736.html?ktm_source=feed" data-title="9000名一线员工和50名后台人员，这家护理机构怎么做到的？| 组织创新系列" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 13:36:50" data-guid="http://36kr.com/p/5175736.html?ktm_source=feed" data-category="技能Get">
2019-02-03 9000名一线员工和50名后台人员，这家护理机构怎么做到的？| 组织创新系列
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://36kr.com/p/5175735.html?ktm_source=feed" data-title="初心资本Max：新的大航海时代下的机遇与挑战" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 13:36:29" data-guid="http://36kr.com/p/5175735.html?ktm_source=feed" data-category="消费">
2019-02-03 初心资本Max：新的大航海时代下的机遇与挑战
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://36kr.com/p/5175717.html?ktm_source=feed" data-title="深度资讯 | 春晚，挤满了想露脸和练技术的互联网选手" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 12:00:05" data-guid="http://36kr.com/p/5175717.html?ktm_source=feed" data-category="36氪每日商业精选">
2019-02-03 深度资讯 | 春晚，挤满了想露脸和练技术的互联网选手
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/Alchademy%20%E7%82%BC%E9%87%91%E5%AD%A6%E6%A0%A1??utm_source=rss&utm_campaign=rss&utm_medium=zaker" data-title="不会黑暗料理的小可爱不会成为好的炼金术师！" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 12:00:00" data-guid="http://zuimeia.com/app/title/Alchademy%20%E7%82%BC%E9%87%91%E5%AD%A6%E6%A0%A1??utm_source=rss&utm_campaign=rss&utm_medium=zaker" data-category="">
2019-02-03 不会黑暗料理的小可爱不会成为好的炼金术师！
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/Alchademy%20%E7%82%BC%E9%87%91%E5%AD%A6%E6%A0%A1??utm_source=rss&utm_campaign=rss&utm_medium=toutiao" data-title="不会黑暗料理的小可爱不会成为好的炼金术师！" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 12:00:00" data-guid="http://zuimeia.com/app/title/Alchademy%20%E7%82%BC%E9%87%91%E5%AD%A6%E6%A0%A1??utm_source=rss&utm_campaign=rss&utm_medium=toutiao" data-category="">
2019-02-03 不会黑暗料理的小可爱不会成为好的炼金术师！
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://36kr.com/p/5175769.html?ktm_source=feed" data-title="5年后我们的智能短途交通出行可能是这样的…… | 潮科技有奖问答评论精选 ⑦" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 11:44:26" data-guid="http://36kr.com/p/5175769.html?ktm_source=feed" data-category="前沿技术">
2019-02-03 5年后我们的智能短途交通出行可能是这样的…… | 潮科技有奖问答评论精选 ⑦
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://36kr.com/p/5175723.html?ktm_source=feed" data-title="36氪领读 | 春节无聊？36氪的作者们推荐了15本闲书" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 10:30:09" data-guid="http://36kr.com/p/5175723.html?ktm_source=feed" data-category="读书">
2019-02-03 36氪领读 | 春节无聊？36氪的作者们推荐了15本闲书
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/237912" data-title="拥有一台 HTC HD2，你的 Android 折腾史才算完整" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 10:21:07" data-guid="http://www.geekpark.net/news/237912" data-category="">
2019-02-03 拥有一台 HTC HD2，你的 Android 折腾史才算完整
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://gitee.com/whatsmk/maka" data-title="码云推荐 | 使用微服务架构的 React 框架 Maka.js" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 08:48:54" data-guid="https://gitee.com/whatsmk/maka" data-category="综合新闻">
2019-02-03 码云推荐 | 使用微服务架构的 React 框架 Maka.js
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104187/microsoft-windows-lite" data-title="有关 Windows Lite 的一切，只为对抗 Chrome OS？" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 08:46:25" data-guid="https://www.oschina.net/news/104187/microsoft-windows-lite" data-category="综合新闻">
2019-02-03 有关 Windows Lite 的一切，只为对抗 Chrome OS？
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/p/litecli" data-title="litecli — 支持自动补齐的 SQLite 数据库命令行工具" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 08:46:24" data-guid="https://www.oschina.net/p/litecli" data-category="综合新闻">
2019-02-03 litecli — 支持自动补齐的 SQLite 数据库命令行工具
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://my.oschina.net/zhoulujun/blog/3006585" data-title="每日一博 | HTTP/2 性能提升在哪里？" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 08:43:27" data-guid="https://my.oschina.net/zhoulujun/blog/3006585" data-category="综合新闻">
2019-02-03 每日一博 | HTTP/2 性能提升在哪里？
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104184/global-digital-report-2019" data-title="全球数字化报告 2019 发布：每 11 秒产生一位网络新人" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 08:39:03" data-guid="https://www.oschina.net/news/104184/global-digital-report-2019" data-category="综合新闻">
2019-02-03 全球数字化报告 2019 发布：每 11 秒产生一位网络新人
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104183/dns-outage-turns-tables-on-azure-database-users" data-title="DNS 故障导致微软 Azure 云服务的数据库被删除" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 08:34:09" data-guid="https://www.oschina.net/news/104183/dns-outage-turns-tables-on-azure-database-users" data-category="综合新闻">
2019-02-03 DNS 故障导致微软 Azure 云服务的数据库被删除
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://my.oschina.net/xxiaobian/blog/3008339" data-title="OSC 周日乱弹 — 会后空翻算个屁，咱这卖艺卖身吃鱼干" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 08:33:59" data-guid="https://my.oschina.net/xxiaobian/blog/3008339" data-category="综合新闻">
2019-02-03 OSC 周日乱弹 — 会后空翻算个屁，咱这卖艺卖身吃鱼干
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104181/adacore-joins-the-risc-v-foundation" data-title="AdaCore 加入 RISC-V 基金会，带来 C 与 Ada 编译支持" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 08:23:48" data-guid="https://www.oschina.net/news/104181/adacore-joins-the-risc-v-foundation" data-category="综合新闻">
2019-02-03 AdaCore 加入 RISC-V 基金会，带来 C 与 Ada 编译支持
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104180/mkcert-1-3-0-released" data-title="mkcert 1.3.0 发布，本地 HTTPS 加密证书生成工具" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 08:20:18" data-guid="https://www.oschina.net/news/104180/mkcert-1-3-0-released" data-category="软件更新新闻">
2019-02-03 mkcert 1.3.0 发布，本地 HTTPS 加密证书生成工具
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104179/vconsole-3-3-0-released" data-title="vConsole 3.3.0 发布，手机前端开发调试利器" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 08:15:40" data-guid="https://www.oschina.net/news/104179/vconsole-3-3-0-released" data-category="软件更新新闻">
2019-02-03 vConsole 3.3.0 发布，手机前端开发调试利器
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104178/sofaboot-2-6-1-released" data-title="SOFABoot 2.6.1 发布，蚂蚁金服开源研发框架" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 08:12:28" data-guid="https://www.oschina.net/news/104178/sofaboot-2-6-1-released" data-category="软件更新新闻">
2019-02-03 SOFABoot 2.6.1 发布，蚂蚁金服开源研发框架
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104177/mapbox-gl-js-0-53-0-beta-1" data-title="Web GIS 开发框架 mapbox-gl-js v0.53.0-beta.1 发布" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 07:59:20" data-guid="https://www.oschina.net/news/104177/mapbox-gl-js-0-53-0-beta-1" data-category="软件更新新闻">
2019-02-03 Web GIS 开发框架 mapbox-gl-js v0.53.0-beta.1 发布
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104176/corretto-is-now-generally-available" data-title="亚马逊 OpenJDK 发行版 Corretto GA" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 07:56:59" data-guid="https://www.oschina.net/news/104176/corretto-is-now-generally-available" data-category="综合新闻">
2019-02-03 亚马逊 OpenJDK 发行版 Corretto GA
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104175/stealing-7-million-from-server" data-title="开发经理服务器中植入脚本取款 1000 多次，窃取 700 万" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 07:55:53" data-guid="https://www.oschina.net/news/104175/stealing-7-million-from-server" data-category="综合新闻">
2019-02-03 开发经理服务器中植入脚本取款 1000 多次，窃取 700 万
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104174/habitica-4-82-0-released" data-title="Habitica 4.82.0 发布，习惯养成游戏" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 07:49:15" data-guid="https://www.oschina.net/news/104174/habitica-4-82-0-released" data-category="软件更新新闻">
2019-02-03 Habitica 4.82.0 发布，习惯养成游戏
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104173/emulator-28-1-5-canary" data-title="Emulator 28.1.5 Canary 发布，Android 模拟器" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 07:41:02" data-guid="https://www.oschina.net/news/104173/emulator-28-1-5-canary" data-category="软件更新新闻">
2019-02-03 Emulator 28.1.5 Canary 发布，Android 模拟器
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104172/calibre-3-39-1-released" data-title="Calibre 3.39.1 发布，功能强大的电子书管理软件" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 07:39:37" data-guid="https://www.oschina.net/news/104172/calibre-3-39-1-released" data-category="软件更新新闻">
2019-02-03 Calibre 3.39.1 发布，功能强大的电子书管理软件
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104171/kubernetes-1-13-3-released" data-title="Kubernetes 1.13.3 发布，容器编排工具" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 07:37:16" data-guid="https://www.oschina.net/news/104171/kubernetes-1-13-3-released" data-category="软件更新新闻">
2019-02-03 Kubernetes 1.13.3 发布，容器编排工具
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104170/mongoose-5-4-9-released" data-title="Mongoose 5.4.9 发布，MongoDB 异步对象模型工具" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-03 07:35:16" data-guid="https://www.oschina.net/news/104170/mongoose-5-4-9-released" data-category="软件更新新闻">
2019-02-03 Mongoose 5.4.9 发布，MongoDB 异步对象模型工具
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104169/rocket-chat-0-74-1-released" data-title="Rocket.Chat 0.74.1 发布，Slack 开源替代品" data-description="<map object at 0x111144240>" data-pubDate="2019-02-03 07:33:30" data-guid="https://www.oschina.net/news/104169/rocket-chat-0-74-1-released" data-category="软件更新新闻">
2019-02-03 Rocket.Chat 0.74.1 发布，Slack 开源替代品
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104168/beetlsql-2-10-45-released" data-title="BeetlSQL 2.10.45 发布，Java Dao 工具" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 22:04:24" data-guid="https://www.oschina.net/news/104168/beetlsql-2-10-45-released" data-category="软件更新新闻">
2019-02-02 BeetlSQL 2.10.45 发布，Java Dao 工具
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/237975" data-title="腾讯微视推出视频红包，这可能是今年最酷的红包玩法" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 20:12:58" data-guid="http://www.geekpark.net/news/237975" data-category="">
2019-02-02 腾讯微视推出视频红包，这可能是今年最酷的红包玩法
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/237973" data-title="学中国经验，反科技殖民，印度制造 BAT" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 17:31:44" data-guid="http://www.geekpark.net/news/237973" data-category="">
2019-02-02 学中国经验，反科技殖民，印度制造 BAT
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/Naver%20Papago??utm_source=rss&utm_campaign=rss&utm_medium=zaker" data-title="这只鹦鹉帮助你更好的学习外语~" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 12:00:00" data-guid="http://zuimeia.com/app/title/Naver%20Papago??utm_source=rss&utm_campaign=rss&utm_medium=zaker" data-category="">
2019-02-02 这只鹦鹉帮助你更好的学习外语~
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/Naver%20Papago??utm_source=rss&utm_campaign=rss&utm_medium=toutiao" data-title="这只鹦鹉帮助你更好的学习外语~" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 12:00:00" data-guid="http://zuimeia.com/app/title/Naver%20Papago??utm_source=rss&utm_campaign=rss&utm_medium=toutiao" data-category="">
2019-02-02 这只鹦鹉帮助你更好的学习外语~
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/237967" data-title="今日头条小程序被下架，微信官方回应；接投诉 30 多起，杭州立案调查有赞公司「996 工作制」；苹果为 FaceTime 漏洞公开道歉，下周推出更新程序" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 10:33:56" data-guid="http://www.geekpark.net/news/237967" data-category="">
2019-02-02 今日头条小程序被下架，微信官方回应；接投诉 30 多起，杭州立案调查有赞公司「996 工作制」；苹果为 FaceTime 漏洞公开道歉，下周推出更新程序
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104167/db-engines-2019-2" data-title="2月数据库排行榜：MySQL 分数增长迅猛，Oracle 下降最多" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 09:12:57" data-guid="https://www.oschina.net/news/104167/db-engines-2019-2" data-category="综合新闻">
2019-02-02 2月数据库排行榜：MySQL 分数增长迅猛，Oracle 下降最多
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://gitee.com/go-locks/distlock" data-title="码云推荐 | Go 实现的分布式锁通用组件 Go-Locks" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 08:30:08" data-guid="https://gitee.com/go-locks/distlock" data-category="综合新闻">
2019-02-02 码云推荐 | Go 实现的分布式锁通用组件 Go-Locks
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://my.oschina.net/waylau/blog/3006889" data-title="每日一博 | 服务治理的一种解决方案：Sidecar 模式" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 08:28:37" data-guid="https://my.oschina.net/waylau/blog/3006889" data-category="综合新闻">
2019-02-02 每日一博 | 服务治理的一种解决方案：Sidecar 模式
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/p/pilejs" data-title="Pile.js —— 滴滴开源基于 React 的移动端开发组件库" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 08:26:12" data-guid="https://www.oschina.net/p/pilejs" data-category="综合新闻">
2019-02-02 Pile.js —— 滴滴开源基于 React 的移动端开发组件库
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104163/win10-still-overtakes-win7" data-title="Windows 10 份额突破 40％，Windows 7 连跌四月终回升" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 08:24:11" data-guid="https://www.oschina.net/news/104163/win10-still-overtakes-win7" data-category="综合新闻">
2019-02-02 Windows 10 份额突破 40％，Windows 7 连跌四月终回升
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104162/apple-facebook-google-app-store-pull-blocked" data-title="神仙打架？苹果短暂撤销 Facebook 和 Google 的企业证书" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 08:15:14" data-guid="https://www.oschina.net/news/104162/apple-facebook-google-app-store-pull-blocked" data-category="综合新闻">
2019-02-02 神仙打架？苹果短暂撤销 Facebook 和 Google 的企业证书
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104161/richard-stallman-india" data-title="自由软件基金会主席 RMS 谈全面监控" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 07:59:26" data-guid="https://www.oschina.net/news/104161/richard-stallman-india" data-category="综合新闻">
2019-02-02 自由软件基金会主席 RMS 谈全面监控
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://my.oschina.net/xxiaobian/blog/3008220" data-title="OSChina 周六乱弹 —— 快上车，司机调休了" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 07:48:38" data-guid="https://my.oschina.net/xxiaobian/blog/3008220" data-category="综合新闻">
2019-02-02 OSChina 周六乱弹 —— 快上车，司机调休了
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104159/firefox-65-stopped-push-update" data-title="被反病毒软件误伤，Mozilla 暂停 Firefox 65 更新" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 07:44:37" data-guid="https://www.oschina.net/news/104159/firefox-65-stopped-push-update" data-category="综合新闻">
2019-02-02 被反病毒软件误伤，Mozilla 暂停 Firefox 65 更新
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104158/google-chrome-kill-url-first-steps" data-title="Google 谈论杀死 URL 的第一步" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 07:34:22" data-guid="https://www.oschina.net/news/104158/google-chrome-kill-url-first-steps" data-category="综合新闻">
2019-02-02 Google 谈论杀死 URL 的第一步
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104157/grafana-v-6-0-0-beta-1-released" data-title="Grafana v6.0.0-beta1 发布，系统指标监控与分析平台" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 07:03:36" data-guid="https://www.oschina.net/news/104157/grafana-v-6-0-0-beta-1-released" data-category="软件更新新闻">
2019-02-02 Grafana v6.0.0-beta1 发布，系统指标监控与分析平台
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104156/jumpserver-1-4-7-released" data-title="开源堡垒机 Jumpserver v1.4.7 发布 , 修改配置文件格式" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 07:00:14" data-guid="https://www.oschina.net/news/104156/jumpserver-1-4-7-released" data-category="软件更新新闻">
2019-02-02 开源堡垒机 Jumpserver v1.4.7 发布 , 修改配置文件格式
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104155/druid-1-1-13-released" data-title="Druid 1.1.13 发布，修复内置监控页面安全问题" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 06:59:27" data-guid="https://www.oschina.net/news/104155/druid-1-1-13-released" data-category="软件更新新闻">
2019-02-02 Druid 1.1.13 发布，修复内置监控页面安全问题
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104154/angel-2-0-2-released" data-title="腾讯高性能分布式机器学习平台 Angel 2.0.2 发布" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 06:58:43" data-guid="https://www.oschina.net/news/104154/angel-2-0-2-released" data-category="软件更新新闻">
2019-02-02 腾讯高性能分布式机器学习平台 Angel 2.0.2 发布
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104153/gitea-1-7-1-released" data-title="Gitea 1.7.1 发布，简单易用的自助 Git 服务" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 06:57:31" data-guid="https://www.oschina.net/news/104153/gitea-1-7-1-released" data-category="软件更新新闻">
2019-02-02 Gitea 1.7.1 发布，简单易用的自助 Git 服务
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104152/scrapy-1-6-0-released" data-title="Scrapy 1.6.0 发布，Web 爬虫框架" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 06:56:22" data-guid="https://www.oschina.net/news/104152/scrapy-1-6-0-released" data-category="软件更新新闻">
2019-02-02 Scrapy 1.6.0 发布，Web 爬虫框架
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104151/typescript-3-3-released" data-title="TypeScript 3.3 发布，微软推出的 JavaScript 超集" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 06:55:06" data-guid="https://www.oschina.net/news/104151/typescript-3-3-released" data-category="软件更新新闻">
2019-02-02 TypeScript 3.3 发布，微软推出的 JavaScript 超集
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104150/angular-7-2-3-8-0-0-beta-2-released" data-title="Angular 7.2.3 和 8.0.0-beta.2 发布，Web 前端框架" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 06:54:05" data-guid="https://www.oschina.net/news/104150/angular-7-2-3-8-0-0-beta-2-released" data-category="软件更新新闻">
2019-02-02 Angular 7.2.3 和 8.0.0-beta.2 发布，Web 前端框架
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104149/ceph-12-2-11-released" data-title="Ceph 12.2.11 发布，可扩展分布式存储系统" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-02 06:52:29" data-guid="https://www.oschina.net/news/104149/ceph-12-2-11-released" data-category="软件更新新闻">
2019-02-02 Ceph 12.2.11 发布，可扩展分布式存储系统
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104148/elementui-2-5-3-released" data-title="ElementUI 2.5.3 发布，基于 Vue 2.0 的桌面端组件库" data-description="<map object at 0x111144240>" data-pubDate="2019-02-02 06:51:32" data-guid="https://www.oschina.net/news/104148/elementui-2-5-3-released" data-category="软件更新新闻">
2019-02-02 ElementUI 2.5.3 发布，基于 Vue 2.0 的桌面端组件库
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.blog.google/products/google-fit/how-google-can-help-keep-your-resolutions-going-through-2019/" data-title="How Google can help keep your resolutions going through 2019" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-01 19:26:00" data-guid="https://www.blog.google/products/google-fit/how-google-can-help-keep-your-resolutions-going-through-2019/" data-category="Digital Wellbeing">
2019-02-01 How Google can help keep your resolutions going through 2019
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104146/zstack-3-3-0-released" data-title="ZStack 3.3.0 发布，新增 ZWatch 报警消息优化" data-description="<map object at 0x111144240>" data-pubDate="2019-02-01 18:57:09" data-guid="https://www.oschina.net/news/104146/zstack-3-3-0-released" data-category="软件更新新闻">
2019-02-01 ZStack 3.3.0 发布，新增 ZWatch 报警消息优化
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/237960" data-title="智能城市爆发元年，京东、阿里、百度等如何用 AI 改变城市运转" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-01 18:39:21" data-guid="http://www.geekpark.net/news/237960" data-category="">
2019-02-01 智能城市爆发元年，京东、阿里、百度等如何用 AI 改变城市运转
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/237767" data-title="天猫精灵 CC 评测：一台更适合全家使用的智能音箱" data-description="<map object at 0x111144240>" data-pubDate="2019-02-01 18:08:19" data-guid="http://www.geekpark.net/news/237767" data-category="">
2019-02-01 天猫精灵 CC 评测：一台更适合全家使用的智能音箱
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104145/jfinal-3-6-released" data-title="JFinal 3.6 发布，五弹齐发迎新年" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-01 17:46:01" data-guid="https://www.oschina.net/news/104145/jfinal-3-6-released" data-category="软件更新新闻">
2019-02-01 JFinal 3.6 发布，五弹齐发迎新年
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104143/jfinal-undertow-1-5-released" data-title="JFinal Undertow 1.5 发布，稳定、可靠服役于生产环境" data-description="<map object at 0x111144240>" data-pubDate="2019-02-01 16:00:41" data-guid="https://www.oschina.net/news/104143/jfinal-undertow-1-5-released" data-category="软件更新新闻">
2019-02-01 JFinal Undertow 1.5 发布，稳定、可靠服役于生产环境
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104142/jfinal-weixin-2-3-released" data-title="JFinal Weixin 2.3 发布，支持微信小程序开发" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-01 15:05:21" data-guid="https://www.oschina.net/news/104142/jfinal-weixin-2-3-released" data-category="软件更新新闻">
2019-02-01 JFinal Weixin 2.3 发布，支持微信小程序开发
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104141/enjoy-3-6-released" data-title="Enjoy 3.6 发布，Java 开发者专用超轻量级模板引擎" data-description="<map object at 0x111144240>" data-pubDate="2019-02-01 14:38:49" data-guid="https://www.oschina.net/news/104141/enjoy-3-6-released" data-category="软件更新新闻">
2019-02-01 Enjoy 3.6 发布，Java 开发者专用超轻量级模板引擎
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104140/jetty-server-2019-1-released" data-title="jetty server 2019.1 发布" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-01 14:11:48" data-guid="https://www.oschina.net/news/104140/jetty-server-2019-1-released" data-category="软件更新新闻">
2019-02-01 jetty server 2019.1 发布
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.blog.google/outreach-initiatives/diversity/journey-us-celebrating-black-historys-movers-and-changemakers/" data-title="The Journey of Us: Celebrating Black History’s movers and changemakers" data-description="<map object at 0x111144240>" data-pubDate="2019-02-01 14:00:00" data-guid="https://www.blog.google/outreach-initiatives/diversity/journey-us-celebrating-black-historys-movers-and-changemakers/" data-category="Doodles">
2019-02-01 The Journey of Us: Celebrating Black History’s movers and changemakers
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104138/jpress-v-2-0-rc-1-released" data-title="JPress v2.0-rc.1 发布，插件功能放出" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-01 12:39:17" data-guid="https://www.oschina.net/news/104138/jpress-v-2-0-rc-1-released" data-category="软件更新新闻">
2019-02-01 JPress v2.0-rc.1 发布，插件功能放出
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="https://www.oschina.net/news/104137/jpress-1-0-5-released" data-title="JPress v1.0.5 优化发布，修复细节问题" data-description="<map object at 0x111144240>" data-pubDate="2019-02-01 12:36:14" data-guid="https://www.oschina.net/news/104137/jpress-1-0-5-released" data-category="软件更新新闻">
2019-02-01 JPress v1.0.5 优化发布，修复细节问题
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/%E5%88%BA%E5%AE%A2%E4%BF%A1%E6%9D%A1%E4%B8%93%E9%A2%98??utm_source=rss&utm_campaign=rss&utm_medium=zaker" data-title="育碧公司重量级 IP，刺客信条新作佛系养老" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-01 12:00:00" data-guid="http://zuimeia.com/app/title/%E5%88%BA%E5%AE%A2%E4%BF%A1%E6%9D%A1%E4%B8%93%E9%A2%98??utm_source=rss&utm_campaign=rss&utm_medium=zaker" data-category="">
2019-02-01 育碧公司重量级 IP，刺客信条新作佛系养老
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://zuimeia.com/app/title/%E5%88%BA%E5%AE%A2%E4%BF%A1%E6%9D%A1%E4%B8%93%E9%A2%98??utm_source=rss&utm_campaign=rss&utm_medium=toutiao" data-title="育碧公司重量级 IP，刺客信条新作佛系养老" data-description="<map object at 0x111144240>" data-pubDate="2019-02-01 12:00:00" data-guid="http://zuimeia.com/app/title/%E5%88%BA%E5%AE%A2%E4%BF%A1%E6%9D%A1%E4%B8%93%E9%A2%98??utm_source=rss&utm_campaign=rss&utm_medium=toutiao" data-category="">
2019-02-01 育碧公司重量级 IP，刺客信条新作佛系养老
</a>

<a class="weui-cell weui-cell_access" target="_blank" href="http://www.geekpark.net/news/237954" data-title="猫眼娱乐 IPO 定价 14.8 港元；亚马逊第四季度营收 724 亿；苹果恢复 Facebook 企业证书权限" data-description="<map object at 0x1111440b8>" data-pubDate="2019-02-01 08:41:57" data-guid="http://www.geekpark.net/news/237954" data-category="">
2019-02-01 猫眼娱乐 IPO 定价 14.8 港元；亚马逊第四季度营收 724 亿；苹果恢复 Facebook 企业证书权限
</a>

    </div>
</body>
</html>

